.wraper{
  background-color: #062539!important;
}
.accordion{
  background-color: #062539;
  overflow: hidden;
  transition: height ease 0.2s;
}
.btn{
  width: 100%;
  background-color: #062539;
  border: none;
outline: none;

}