*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
.side-bar{
 min-width: 25%;
 max-width: 25%;
  min-height: 100vh;
  background-color: #35525b;

}
.errorBorder{
  border-color: red!important;
}
.errorText{
  color: red!important;
}
.accordion{
  background-color: red!important;
}
@media(min-width: 992px) {
  .side-bar {
    min-width: 18%;
    max-width: 18%;
  }
}
