*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
.sideBar{
 min-width: 25%;
 max-width: 25%;
  min-height: 100vh;
  background-color: #062539;
  border-right: 0.15rem solid rgb(180, 175, 175);

}
.errorBorder{
  border-color: red!important;
}
.errorText{
  color: red!important;
}
@media(min-width: 992px) {
  .sideBar{
    min-width: 20%;
    max-width: 20%;
  }
}
